﻿@model IPagedList<HavaDurumuBlog.Models.Makale>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Makaleler</h2>

        <p>
            @Html.ActionLink("Yeni Makale", "Create")
        </p>
    </div>
    <div style="margin-left:10px">
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Kategori Adı")
                </th>
                <th>
                    @Html.Label("Başlık")
                </th>

                <th>
                    @Html.Label("Foto")
                </th>
                <th>
                    @Html.Label("Tarih")
                </th>
                <th>
                    @Html.Label("Üye id")
                </th>
                <th>
                    @Html.Label("Okunma")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kategori.KategoriAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Baslik)
                    </td>

                    <td>
                        <img width="75" src="@item.Foto" />
                    </td>
                    <td>
                        @String.Format("{0: MMMM yyyy}", item.Tarih)    @*@Html.DisplayFor(modelItem => item.Tarih)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uyeid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Okunma)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Makaleid }) |
                        @*@Html.ActionLink("Detay", "Details", new { id = item.Makaleid }) |*@
                        @Html.ActionLink("Sil", "Delete", new { id = item.Makaleid })
                    </td>
                </tr>
            }

        </table>

        <div class="card-footer">
            <div class="d-flex">
                <div class="pagination mx-auto">
                    @Html.PagedListPager((IPagedList)Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)
                </div>
            </div>
        </div>
    </div>
</div>
