﻿@model HavaDurumuBlog.Models.Uye

@{
    ViewBag.Title = "UyeProfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UyeProfil</h2>

<div>
    <div class="lead">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Yetki.Yetki1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Yetki.Yetki1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdSoyad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                <img src="@Model.Foto" width="75" class="d-flex mr-3 rounded-circle" alt="@Model.AdSoyad" />
            </dd>

        </dl>
        <br />
        <h4>Son Yazdığı Makaleler</h4>
        <div class="col-11">

            @foreach (var item in Model.Makales.OrderByDescending(m => m.Makaleid).Take(5))
            {<ul>
                    <li><a href="/Home/MakaleDetay/@item.Makaleid">@item.Baslik</a></li>
             </ul>
             }

        </div>
    </div>
</div>

