﻿@model HavaDurumuBlog.Models.Uye

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3> Üyeyi Silmek İstiyormusun?</h3>
    </div>
    <div style="margin-left:15px">

        <dl class="dl-horizontal">
            <dt style="margin-top:15px">
                @Html.DisplayNameFor(model => model.Yetki.Yetki1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Yetki.Yetki1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KullanıcıAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KullanıcıAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sifre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sifre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdSoyad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Foto)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-primary" /> |
                @Html.ActionLink("Geri Dön", "Index")
            </div>


        }
    </div>

</div>