﻿@model HavaDurumuBlog.Models.Uye

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Detay</h2>
    </div>
    <div style="margin-left:15px">

        <dl class="dl-horizontal" style="margin-top:15px">
            <dt>
                @Html.DisplayNameFor(model => model.Yetki.Yetki1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Yetki.Yetki1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KullanıcıAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KullanıcıAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sifre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sifre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdSoyad)
            </dd>

            <dt>
                <img src="@Model.Foto" width="75" class="imt-circle" />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Foto)
            </dd>

        </dl>
    </div>
    <p style="margin-left:15px">
        @*@Html.ActionLink("Düzenle", "Edit", new { id = Model.Uyeid }) |*@
        @Html.ActionLink("Geri Dön", "Index")
    </p>
</div>