﻿@model IEnumerable<HavaDurumuBlog.Models.Uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Üyeler</h2>
    </div>
    <div style="margin-left:20px">
        <p style="margin-top:10px">
            @Html.ActionLink("Yeni Uye", "Create")
        </p>
    </div>
    <div style="margin-left:10px">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Yetki.Yetki1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KullanıcıAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sifre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdSoyad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yetki.Yetki1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KullanıcıAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sifre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdSoyad)
                    </td>
                    <td>
                        <img src="@item.Foto" class="d-flex mr-3 rounded-circle img-responsive" width="75" />
                    </td>
                    <td>
                        @*@Html.ActionLink("Düzenle", "Edit", new { id = item.Uyeid }) |*@
                        @Html.ActionLink("Detay", "Details", new { id = item.Uyeid }) |
                        @Html.ActionLink("Sil", "Delete", new { id = item.Uyeid })
                    </td>
                </tr>
            }

        </table>
    </div>

</div>