﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hava Durumu Blog</title>



    <!-- Bootstrap core CSS -->
    <link href="~/Content/Blog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/Blog/css/blog-home.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index/">Hava Durumu Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item active">
                            <a class="nav-link" href="/Home/Index/">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Hakkimizda/">Hakkımızda</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="/Home/havaDurum/">Hava Durumu</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/Iletisim/Index/">İletişim</a>
                    </li>


                    @if (Session["uyeid"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Index/@Session["uyeid"]"><i class="fa fa-user" aria-hidden="true"></i> @Session["kullaniciadi"].ToString()</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Logout/">Çıkış</a>
                        </li>

                        if (Convert.ToInt32(Session["yetkiid"]) == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Index/" target="_blank">Admin Paneli</a>
                            </li>
                        }

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Login/">Giriş</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Create/">Kayıt Ol</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                @*içerik*@
                @RenderBody()
            </div>

            <!-- Blog Post -->
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    @Html.Partial("BlogAraPartial")
                </div>
                <!-- weather widget start -->
                <div>
                    <div id="m-booked-weather-bl250-32463"> <div class="booked-wzs-250-175 weather-customize" style="background-color:#137AE9;width:325px;" id="width2"> <div class="booked-wzs-250-175_in"> <div class="booked-wzs-250-175-data"> <div class="booked-wzs-250-175-left-img wrz-18"> <a target="_blank" href="https://www.booked.net/"> <img src="//s.bookcdn.com/images/letter/logo.gif" alt="booked.net" /> </a> </div> <div class="booked-wzs-250-175-right"> <div class="booked-wzs-day-deck"> <div class="booked-wzs-day-val"> <div class="booked-wzs-day-number"><span class="plus">+</span>26</div> <div class="booked-wzs-day-dergee"> <div class="booked-wzs-day-dergee-val">&deg;</div> <div class="booked-wzs-day-dergee-name">C</div> </div> </div> <div class="booked-wzs-day"> <div class="booked-wzs-day-d">H: <span class="plus">+</span>26&deg;</div> <div class="booked-wzs-day-n">L: <span class="plus">+</span>18&deg;</div> </div> </div> <div class="booked-wzs-250-175-info"> <div class="booked-wzs-250-175-city">Manisa </div> <div class="booked-wzs-250-175-date">Cuma, 12 Haziran</div> <div class="booked-wzs-left"> <span class="booked-wzs-bottom-l">7 Günlük Hava Tahmini</span> </div> </div> </div> </div> <a target="_blank" href="https://bookeder.com/weather/manisa-35887"> <table cellpadding="0" cellspacing="0" class="booked-wzs-table-250"> <tr> <td>Ct</td> <td>Pz</td> <td>Pt</td> <td>Sa</td> <td>Ça</td> <td>Pe</td> </tr> <tr> <td class="week-day-ico"><div class="wrz-sml wrzs-03"></div></td> <td class="week-day-ico"><div class="wrz-sml wrzs-03"></div></td> <td class="week-day-ico"><div class="wrz-sml wrzs-01"></div></td> <td class="week-day-ico"><div class="wrz-sml wrzs-18"></div></td> <td class="week-day-ico"><div class="wrz-sml wrzs-18"></div></td> <td class="week-day-ico"><div class="wrz-sml wrzs-01"></div></td> </tr> <tr> <td class="week-day-val"><span class="plus">+</span>27&deg;</td> <td class="week-day-val"><span class="plus">+</span>28&deg;</td> <td class="week-day-val"><span class="plus">+</span>33&deg;</td> <td class="week-day-val"><span class="plus">+</span>32&deg;</td> <td class="week-day-val"><span class="plus">+</span>30&deg;</td> <td class="week-day-val"><span class="plus">+</span>31&deg;</td> </tr> <tr> <td class="week-day-val"><span class="plus">+</span>17&deg;</td> <td class="week-day-val"><span class="plus">+</span>20&deg;</td> <td class="week-day-val"><span class="plus">+</span>19&deg;</td> <td class="week-day-val"><span class="plus">+</span>21&deg;</td> <td class="week-day-val"><span class="plus">+</span>19&deg;</td> <td class="week-day-val"><span class="plus">+</span>19&deg;</td> </tr> </table> </a> </div></div> </div>
                    <script type="text/javascript">var css_file = document.createElement("link"); css_file.setAttribute("rel", "stylesheet"); css_file.setAttribute("type", "text/css"); css_file.setAttribute("href", 'https://s.bookcdn.com/css/w/booked-wzs-widget-275.css?v=0.0.1'); document.getElementsByTagName("head")[0].appendChild(css_file); function setWidgetData(data) { if (typeof (data) != 'undefined' && data.results.length > 0) { for (var i = 0; i < data.results.length; ++i) { var objMainBlock = document.getElementById('m-booked-weather-bl250-32463'); if (objMainBlock !== null) { var copyBlock = document.getElementById('m-bookew-weather-copy-' + data.results[i].widget_type); objMainBlock.innerHTML = data.results[i].html_code; if (copyBlock !== null) objMainBlock.appendChild(copyBlock); } } } else { alert('data=undefined||data.results is empty'); } }</script>
                    <script type="text/javascript" charset="UTF-8" src="https://widgets.booked.net/weather/info?action=get_weather_info&ver=6&cityID=35887&type=3&scode=124&ltid=3457&domid=765&anc_id=53424&cmetric=1&wlangID=21&color=137AE9&wwidth=325&header_color=ffffff&text_color=333333&link_color=08488D&border_form=1&footer_color=ffffff&footer_text_color=333333&transparent=0"></script><!-- weather widget end -->
                </div>
                <!-- Categories Widget -->
                <div class="card my-4">



                    @{
                        Html.RenderAction("KategoriPartial", "Home");
                    }


                </div>
                <div class="card my-4">
                    @{
                        Html.RenderAction("PopulerMakaleler", "Home");
                    }
                </div>
                <!-- Side Widget -->
                <div class="card my-4">
                    @{
                        Html.RenderAction("SonYorumlar", "Home");
                    }
                </div>

                @*<div class="card my-4">
            <div class="card-header">
                Sıkça Sorulan Sorular
            </div>
            <div class="card-body">
                hebele hubele
            </div>
        </div>*@
                <div class="card my-4">
                    <div class="card-header"><h5>Sıkça Sorulan Sorular</h5></div>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Bulutlar Nasıl Oluşur?
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Serbest atmosferde, buz kristalleri, ve su damlacıkları gibi gözle görülür parçacıkların bir araya gelmesiyle oluşan bulut, hava parselinin atmosfer içerisinde yükselmesi ile içerisinde bulunan su buharının yoğunlaşması sonucunda oluşur. Sisin buharlaşması şeklinde oluşumu da söz konusudur.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Sis Nedir Nasıl Oluşur?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Yatay görüş mesafesini 1 km.nin altına düşüren meteorolojik bir olaydır. Stratus bulutunun yerde veya yere yakın seviyede oluşması olarak da bilinir. Yerle temas eden hava içindeki su buharının yoğuşması veya donarak kristalleşmesi sonucu ortaya çıkan çok küçük su damlacıkları veya buz kristallerinden meydana gelmiştir.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Atmosfer Nedir?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Yeryüzünü saran hava tabakasına atmosfer denir. Atmosferin kalınlığı yerden itibaren 560 km.ye kadar uzanır. Atmosferin tabakalarını belirleyen en önemli faktör sıcaklıktır. Yerçekimi dolayısıyla havanın yeryüzüne yaptığı ağırlık “hava basıncı” olarak tanımlanır. Atmosferi olusturan hava kütlesinin %99'u 32km. nin altındadır.
                                </div>
                            </div>



                        </div>
                    </div>

                </div>




            </div>


            <!-- /.row -->
            <!-- /.container -->
            <!-- Footer -->
            @*<footer class="py-5 bg-dark align-bottom">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year</p>
                </div>*@
            <!-- /.container -->
            @*</footer>*@



            <!-- Bootstrap core JavaScript -->
            <script src="~/Content/Blog/vendor/jquery/jquery.min.js"></script>
            <script src="~/Content/Blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>


</body>

</html>
