﻿@model IEnumerable<HavaDurumuBlog.Models.Makale>

@{
    ViewBag.Title = "BlogAra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <h2>Aradığınız türdeki makaleler</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye.KullanıcıAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Okunma)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategori.KategoriAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uye.KullanıcıAdi)
                </td>
                <td>
                    <a href="/Home/MakaleDetay/@item.Makaleid"> @Html.DisplayFor(modelItem => item.Baslik)</a>
</td>
                
                <td>
                    <img class="img-rounded img-responsive" width="75" src="@item.Foto" alt="@item.Baslik"/>
                </td>
                <td>
                    @String.Format("{0: MMMM yyyy}", item.Tarih)            @*@Html.DisplayFor(modelItem => item.Tarih)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Okunma)
                </td>

            </tr>
        }

    </table>
</div>