﻿@model HavaDurumuBlog.Models.Yorum

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="card">
        <div class="card-header">
            <h3>Sil</h3>
        </div>
        <div style="margin-left:15px">
            <h4 style="margin-top:15px">Yorumu silmek istiyor musunuz?</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Makale.Baslik)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Makale.Baslik)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Uye.KullanıcıAdi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Uye.KullanıcıAdi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Icerik)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Icerik)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tarih)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tarih)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                    @Html.ActionLink("Geri Dön", "Index")
                </div>
            }
        </div>
    </div>