﻿@model HavaDurumuBlog.Models.Yorum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="card">
        <div class="card-header">
            <h2>Detay</h2>
        </div>
        <div style="margin-left:15px">

            <dl class="dl-horizontal">
                <dt style="margin-top:15px">
                    @Html.DisplayNameFor(model => model.Makale.Baslik)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Makale.Baslik)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Uye.KullanıcıAdi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Uye.KullanıcıAdi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Icerik)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Icerik)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tarih)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tarih)
                </dd>

            </dl>
        </div>
       


        <p style="margin-left:15px">
            @Html.ActionLink("Düzenle", "Edit", new { id = Model.Yorumid }) |
            @Html.ActionLink("Geri Dön", "Index")
        </p>

    </div>