﻿@model IEnumerable<HavaDurumuBlog.Models.Yorum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Yorumlar</h2>
    </div>
    <div style="margin-left:10px">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Makale.Baslik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uye.KullanıcıAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Icerik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarih)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Makale.Baslik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uye.KullanıcıAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Icerik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarih)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Yorumid }) |
                        @Html.ActionLink("Detay", "Details", new { id = item.Yorumid }) |
                        @Html.ActionLink("Sil", "Delete", new { id = item.Yorumid })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>