﻿
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2 class="text-center">Hakkimizda</h2>
    </div>
    <div class="card-body text-center ">
        <p> Süleyman Demirel Üniversitesi Bilgisayar Mühendisliği Bölümü</p>
        <p> Togay Aynuru</p>
        <p> 1321012033</p>

    </div>
</div>


