﻿@using PagedList
@using PagedList.Mvc

@model  IEnumerable<HavaDurumuBlog.Models.Makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-12">

                <h1 class="mt-4">
                    <a href="/Home/MakaleDetay/@item.Makaleid">@item.Baslik</a>
                </h1>
                <p class="lead">
                    <img class="d-flex mr-3 rounded-circle" width="50" src="@item.Uye.Foto" alt="@item.Uye.AdSoyad" />
                    <a href="/Uye/UyeProfil/@item.Uye.Uyeid">@item.Uye.KullanıcıAdi</a><br />
                </p>

                <hr>
                <div class="card mb-4">
                    <img class="card-img-top" src="@item.Foto" alt="@item.Baslik" />
                    <div class="card-body">

                        <hr>

                        @if (item.Icerik.Length > 150)
                        {
                            <p>@Html.Raw(item.Icerik.Substring(0, 150))...</p>
                        }
                        else
                        {
                            <p>@Html.Raw(item.Icerik)...</p>
                        }

                        <a class="btn btn-primary" href="/Home/MakaleDetay/@item.Makaleid">Devamını Oku &rarr; </a>
                    </div>
                    <div class="card-footer text-muted">
                        <span class="fa fa-clock-o"> @String.Format("{0: MMMM yyyy}", item.Tarih) </span>
                        
                        <span class="fa fa-tags"> @item.Etikets.Count() </span>
                        

                    </div>
                </div>

                <hr>

            </div>
        }

    
        <div class="col-lg-12" style="margin-left:300px">
            <div class="pagination-lg ">
                @Html.PagedListPager((IPagedList)Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic) <br />   
            </div>
        </div>
    


    </div>
</div>


