﻿@model IEnumerable<HavaDurumuBlog.Models.Kategori>

@{
    Layout = null;
}
    <div class="card my-4">
        <h5 class="card-header">Kategoriler</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    @foreach (var item in Model)
                    {<ul class="list-unstyled mb-0">
                            <li>
                                <a href="/Home/KategoriMakale/@item.Kategoriid">@item.KategoriAd (@item.Makales.Count())</a>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAd)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAd)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Kategoriid }) |
                @Html.ActionLink("Details", "Details", new { id=item.Kategoriid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Kategoriid })
            </td>
        </tr>
    }

    </table>*@
