﻿@model HavaDurumuBlog.Models.Makale

@{
    ViewBag.Title = "MakaleDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tag {
        background-color: beige;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- Title -->
            <h1 class="mt-4">@Model.Baslik</h1><br />

            <!-- Author -->
            <p class="lead">
                <img class="d-flex mr-3 rounded-circle" src="@Model.Uye.Foto" alt="@Model.Uye.AdSoyad" /> <a href="/Uye/UyeProfil/@Model.Uyeid">@Model.Uye.AdSoyad</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span>@String.Format("{0: MMMM yyyy}", Model.Tarih) | <span class="glyphicon glyphicon-edit"></span> @Model.Kategori.KategoriAd  (@Model.Kategori.Makales.Count())  <span class="fa fa-comment"></span> @Model.Yorums.Count()   </p>

            <hr>

            <!-- Preview Image -->
            <div class="card mb-4">
                <img class="card-img-top" src="@Model.Foto" alt="@Model.Baslik">
                <div class="card-body">

                    <hr>

                    <!-- Post Content -->
                    <div class="col-lg-12">

                        <p class="lead">
                            @Html.Raw(Model.Icerik)
                        </p>

                        <hr />
                        <div class="well">

                            @foreach (var item in Model.Etikets)
                            {
                                <span class="fa fa-tags "> @item.EtiketAdi ,</span>
                            }

                        </div>
                    </div>
                </div>
           
            <hr>


            @if (Session["uyeid"] != null)
            {
                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Yorum:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea id="yorum" typeof="text" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" id="gonder" class="btn btn-primary">Yorum Yap</button>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <h4 class="text-muted">Makaleye yorum yapmak için kullanıcı girişi yapmalısınız.!</h4>
                <p><a href="/Uye/Login">Giriş Yap</a></p>
            }

            <!-- Single Comment -->
            <div class="media mb-4">
                @foreach (var item in Model.Yorums.ToList())
                {
                    <div class="well">
                        <img class="d-flex mr-3 rounded-circle" width="50" src="@item.Uye.Foto" alt="@item.Uye.AdSoyad">
                        <div class="media-body">
                            <h5 class="mt-0">@item.Uye.KullanıcıAdi</h5>
                            <small>@item.Tarih </small>
                            @item.Icerik 
                            @if (Convert.ToInt32(Session["uyeid"]) == item.Uyeid)
                            {
                                <a class="btn btn-danger" href="/Home/YorumSil/@item.Yorumid">Sil</a>
                            }
                        </div>
                    </div>
                }

            </div>
        </div>


    </div>
</div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="~/Content/Blog/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/Blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




<script type="text/javascript">

    $(document).ready(function(){
        $("#gonder").click(function() {
            var yorumunuz = $("#yorum").val();
            $.ajax({
                url: '/Home/YorumYap/',
                data: { yorum : yorumunuz, Makaleid:@Model.Makaleid},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Yorum Gönderildi" + yorumunuz);}
            });

        });
    })


</script>

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: '/Home/OkunmaArttir/',
            data: { Makaleid:@Model.Makaleid },
            type: 'POST',
        });
    })
</script>


@*<h2>MakaleDetay</h2>

    <div>
        <h4>Makale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategori.KategoriAd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Uye.KullanıcıAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Uye.KullanıcıAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Baslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Baslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Icerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Icerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Foto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Okunma)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Okunma)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Makaleid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
