﻿@model IEnumerable<HavaDurumuBlog.Models.Makale>

@{
    Layout = null;
}
<h5 class="card-header">En Çok Okunan Makaleler</h5>
<div class="card-body">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Home/MakaleDetay/@item.Makaleid">@item.Baslik</a>(@item.Okunma)</li>
        }
    </ul>
</div>