﻿@model IEnumerable<HavaDurumuBlog.Models.Yorum>
@{ 
    Layout = null;
}
<h5 class="card-header">Son Yapılan Yorumlar</h5>
<div class="card-body">
    <ul>
       @foreach (var item in Model)
       {
           <li>@item.Icerik</li>
       }
    </ul>
</div>