﻿@model HavaDurumuBlog.Models.Kategori

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Silmeyi onaylıyor musun?</h3>
    </div>
    <div class="card-body">

        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KategoriAd)
            </dt>
              
            <dd>
                @Html.DisplayFor(model => model.KategoriAd)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-primary" /> |  
                @Html.ActionLink("Geri Dön", "Index")
            </div>
        }
    </div>

</div>
