﻿@model HavaDurumuBlog.Models.Kategori

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Detay</h2>
    </div>
    <div class="card-body">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KategoriAd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KategoriAd)
            </dd>

        </dl>
    </div>
    <p style="margin-left:25px">
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.Kategoriid }) |
        @Html.ActionLink("Geri Dön", "Index")
    </p>
</div>