﻿@model HavaDurumuBlog.Models.Kategori

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="card">
        <div class="card-header">
            <h2>Düzenle</h2>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Kategoriid)

                <div class="form-group">
                    @Html.LabelFor(model => model.KategoriAd, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KategoriAd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KategoriAd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Güncelle" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        <div style="margin-left:18px">
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    </div>
