﻿@model IEnumerable<HavaDurumuBlog.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Kategoriler</h2>

        <p>
            @Html.ActionLink("Yeni Kategori", "Create")
        </p>
    </div>
    <div >
        <table class="table" style="margin-left:10px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KategoriAd)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr >
                    <td>
                        @Html.DisplayFor(modelItem => item.KategoriAd)
                    </td>
                    <td class="text-right">
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Kategoriid }) |
                        @Html.ActionLink("Detay", "Details", new { id = item.Kategoriid }) |
                        <span style="margin-right:20px"> @Html.ActionLink("Sil", "Delete", new { id = item.Kategoriid }) </span> 
                    </td>
                </tr>
            }

        </table>

    </div>
</div>